body {
    background-image: url(imagenfondo.jpeg);
    background-size: cover;
}

.BloqueA {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.SubBloque1A{
    display: flex;
    gap: 0px;
}

.SubBloque1A > .gif,
.SubBloque1A > .imagen {
  flex: 0 0 calc(50%);
}

.SubBloque2A {
    width: 40vw;
    padding: 10px;
}

.imagen img {
    width: 70%;
    height: auto;
    max-width: 70%;
    display: block;
    object-fit: contain;
}

.gif img {
    width: 70%;
    height: auto;
    max-width: 70%;
    display: block;
    object-fit: contain;
}