body {
    background-image: url(imagenfondo.jpeg);
    background-size: cover;
}

.BloqueA {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.SubBloque1A{
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.SubBloque1B{
    background-color: rgba(0, 102, 204, 0.6);
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.SubBloque2A {
    width: 60vw;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
}

.texto p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.imagen img {
    width: 375px;
    height: auto;
    max-width: none;
    display: block;
    object-fit: contain;
    margin-right: auto;
}

.imagen {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-20px);
}

.gif img {
    width: 375px;
    height: auto;
    max-width: none;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: 20px;
    transform: translateX(-20px);
}


.gif {
    overflow: hidden;
}

.TituloPagina {
    text-align: center;
    margin: 20px 0 10px;
    color: Black;
}

.Subtitulo {
    text-align: left;
    width: 80vw;
    margin: 0 auto 20px;
    color: black;
    font-size: 2rem;
}

.SubtituloContenedor {
    background-color: rgba(255, 0, 0, 0.6);
    padding: 6px 10px;
    border-radius: 8px;
    display: inline-block;
}