body {
    background-image: url(imagenfondo.jpeg);
    background-size: cover;
}

.BloqueA {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.SubBloque1A{
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.SubBloque1A > .gif,
.SubBloque1A > .imagen {
  flex: 1 1 calc(50%);
}

.SubBloque2A {
    width: 60vw;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
}

.imagen img {
    width: 75%;
    height: auto;
    max-width: 75%;
    display: block;
    object-fit: contain;
}

.imagen {
    background-color: rgba(255, 255, 255, 0.6);
}

.gif img {
    width: 75%;
    height: auto;
    max-width: 75%;
    display: block;
    object-fit: contain;
}