body {
    background-image: url(imagenfondo.jpeg);
    background-size: cover;
}

.BloqueA {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.SubBloque1A{
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.SubBloque1A > .gif,
.SubBloque1A > .imagen {
  flex: 0 0 calc(50%);
}

.SubBloque2A {
    width: 60vw;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
}

.texto p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: italic;
}

.imagen img {
    width: 75%;
    height: auto;
    max-width: 75%;
    display: block;
    object-fit: contain;
    margin-right: auto;
}

.imagen {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-20px);
}

.gif img {
    width: 75%;
    height: auto;
    max-width: 75%;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: 20px;
    transform: translateX(-20px);
}